    <script id="vhs-cover" type="text/x-handlebars-template">
      {{#each this}}
      <div class="book {{size}}" id="book_{{uname}}">
        <div class="spine {{size}}" id="spine_{{uname}}">
          <div class="sideIcons {{size}}" id="sideIcon_{{uname}}">
            <i class="fa fa-camera-retro fa-2x" id="big_{{uname}}"></i>
            <i class="fa fa-rotate-right fa-2x" id="rotate_{{uname}}"></i>
            {{#if stock}}
            {{else}}
            <i class="fa fa-eye fa-2x" id="color_{{uname}}"></i>
            {{/if}}
          </div>
          <img src="{{sideimg}}" class="boxart-side {{size}}{{{isGray stock}}}">
        </div>
        <div id="cover_{{uname}}" class="cover {{size}}">
          <div class="front face">
            <img src="{{frontimg}}" class="boxart-front {{size}}{{{isGray stock}}}">
          </div>
          <div class="back face">
            <img src="{{backimg}}" class="boxart-front {{size}}{{{isGray stock}}}">
          </div>
        </div>  
      </div>
      {{/each}}
    </script>